*, *:before, *:after {
  box-sizing: border-box; }

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0; }

ol, ul {
  list-style: none; }

@font-face {
  font-family: Red Hat Text;
  src: local("Red Hat Text Regular"), url(../fonts/Red_Hat_Text/RedHatText-Regular.ttf);
  font-weight: normal; }
@font-face {
  font-family: Red Hat Text;
  src: local("Red Hat Text Italic"), url(../fonts/Red_Hat_Text/RedHatText-Italic.ttf);
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: Red Hat Text;
  src: local("Red Hat Text Bold"), url(../fonts/Red_Hat_Text/RedHatText-Bold.ttf);
  font-weight: bold; }
@font-face {
  font-family: Red Hat Text;
  src: local("Red Hat Text Bold Italic"), url(../fonts/Red_Hat_Text/BoldItalic.ttf);
  font-weight: bold;
  font-style: italic; }
body {
  font-size: 14px; }

body, button {
  font-family: 'Red Hat Text', monospace; }

body {
  background: #1e1f29;
  background-image: url("../img/bg-stars.svg"); }

header {
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  header h1 {
    font-size: 1.8em;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.3em; }

main {
  height: 35vh;
  display: flex;
  justify-content: center;
  gap: 3em; }

.days,
.hours,
.minutes,
.seconds,
.test {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 8em; }
  .days__count,
  .hours__count,
  .minutes__count,
  .seconds__count,
  .test__count {
    color: #fb6087;
    font-size: 6em;
    font-weight: bold; }
  .days__period,
  .hours__period,
  .minutes__period,
  .seconds__period,
  .test__period {
    color: #8486a9;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.3em; }

.test__display {
  background: #191a24;
  border-radius: 10px;
  padding-bottom: 10px;
  width: 12em;
  height: 12em; }
  .test__display__behind, .test__display__top, .test__display__bottom, .test__display__middle {
    position: relative;
    height: 5.5em;
    margin: 1px; }
    .test__display__behind__container, .test__display__top__container, .test__display__bottom__container, .test__display__middle__container {
      position: relative;
      height: 5.5em;
      border-radius: 10px;
      overflow: hidden;
      border: 1px solid #191a24; }
      .test__display__behind__container__number, .test__display__top__container__number, .test__display__bottom__container__number, .test__display__middle__container__number {
        font-size: 6em;
        font-weight: bold;
        text-align: center; }
  .test__display__behind__container, .test__display__top__container {
    background: #282a3e; }
    .test__display__behind__container__number, .test__display__top__container__number {
      color: #fb6087; }
  .test__display__bottom__container, .test__display__middle__container {
    background: #343650; }
    .test__display__bottom__container__number, .test__display__middle__container__number {
      color: #fc7e9d; }
  .test__display__behind__container__number {
    position: relative;
    top: 23px; }
  .test__display__top {
    transform: translateY(-5.56em); }
    .test__display__top__container {
      transform-origin: bottom;
      transition: transform ease .2s; }
      .test__display__top__container__number {
        position: relative;
        top: 23px; }
  .test__display__bottom {
    transform: translateY(-5.58em); }
    .test__display__bottom__container__number {
      position: relative;
      top: -55px;
      text-align: center; }
  .test__display__middle {
    transform: translateY(-11.16em); }
    .test__display__middle__container {
      transform-origin: top;
      transform: rotateX(90deg);
      transition: transform .2s ease .21s; }
      .test__display__middle__container__number {
        position: relative;
        top: -55px;
        text-align: center; }

footer {
  height: 30vh;
  background-image: url("../img/pattern-hills.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center; }
  footer ul {
    margin-top: 4em;
    display: flex;
    justify-content: center;
    gap: 3em; }

/*# sourceMappingURL=style.css.map */
